html {
    height:100%;
}

body {
    font-family: sans-serif;
    background-image: url('gayprideflag.png');

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}